<div>
    <h2>About Me</h2>
    <p>I am Basmala Abdullah Ahmed Hassan, a Computer Engineering and Software Systems fresh graduate from Ainshams University. I am proficient in C++, Python, and Java, with a strong foundation in OOP principles, SOLID design, and data structures. Passionate about building scalable software solutions, I thrive on solving complex problems and continuously enhancing my technical skills to contribute to innovative projects.</p>
    <a href="https://drive.google.com/file/d/1NBF9Yq4FNwp903uat7IG56ch-gwmI-L5/view?usp=sharing" download="BasmalaAbdullah_SWE"target="_blank">
        <button type="button">Download CV</button>
    </a>
</div>
