div{
    padding: 20px 10px;
    margin: 10px 0;
    color:rgb(41, 41, 41);
    background-color: #f9f9f9; 
    border-radius: 0 0 25px 25px;
}
a{
    color:rgb(41, 41, 41);
    padding: 0 5px 0 0;
}

img{
    padding: 0 5px 0 0;
}