<div>
    <h3>Contact Me</h3>
    
    <p><img src="https://cdn-icons-png.flaticon.com/256/526/526901.png" width="20" height="20"> Email: basmala.abdullah.ahmed&#64;gmail.com</p>
    <img src="https://cdn-icons-png.flaticon.com/256/2111/2111432.png" width="20" height="20">
    <a href="https://github.com/Basmala-Abdullah" target="_blank">GitHub</a>
    <br/>
    <img src="https://cdn-icons-png.flaticon.com/256/145/145807.png" width="20" height="20">
    <a href="https://www.linkedin.com/in/basmala-abdullah/" target="_blank">LinkedIn</a>
    <br/>
    <img src="https://cdn-icons-png.flaticon.com/256/5968/5968764.png" width="20" height="20">
    <a href="https://www.facebook.com/basmala.abdulla.58" target="_blank">Facebook</a>
    
</div>