

<div>

  <h2>Projects</h2>
  <div class="projects-container">
    <div class="card">
      <h3>Personal Portfolio Website</h3>
      <p>A website built with Angular.</p>
    </div>
    <div class="card">
      <h3>Ride-sharing App</h3>
      <p>Rideshare app designed to facilitate shared rides among students to specified campus locations.</p>
    </div>
    <div class="card">
      <h3>NASA Mars Rover</h3>
      <p>Integrated the NASA API to build a sample collector and return Rover. The rover makes some decisions based on images streamed from a camera mounted on the rover.</p>
    </div>
    <div class="card">
      <h3>Multi-player distributed 2D Car Racing Game along with chatting feature</h3>
      <p>Real-time playing by multiple participants and chatting feature, based on client-server architecture.</p>
    </div>
    <div class="card">
      <h3>Power window control system</h3>
      <p>Implementation of front passenger door window with both passenger and driver control panels, using a DC motor as a reference to the door window.</p>
    </div>
    <div class="card">
      <h3>Digital Stopwatch Timer Calculator</h3>
      <p>A simple calculator with 2 extra features: a timer and a stopwatch.</p>
    </div>
  </div>
</div>
